{% extends "base.html" %} {% block title %}{{ super() }} - index{% endblock %} {% block page_container %}

<div class="page-header">
    <h3>Image Difference Report</h3>
</div>
<div class="row show-grid">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Stats</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>Pixel Difference Count</td>
                        <td>{{ report['diffCount'] }}</td>
                    </tr>
                    <tr>
                        <td>Percent Difference</td>
                        <td>{{ report['diffPercent'] }}%</td>
                    </tr>
                    {% for image in report['images'] %} {% set outloop = loop %} {% for key, value in image.iteritems() %}
                    <tr>
                        <td>Image {{outloop.index}} {{ key|e }}</td>
                        <td>{{ value|e }}</td>
                    </tr>
                    {% endfor %} {% endfor %}
                    <tr>
                        <td>Api Engine</td>
                        <td>{{ engine }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {% for image in images %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ image.name }}</h3>
            </div>
            <div class="panel-body">
                <img src="data:;base64,{{ image.image }}" class="img-responsive">
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
